<h3>Créditos</h3>
Autor: <%= author %> | <a href="mailto://<%= author %>"><%= email %></a>
<div class="imagen">
	<img src="images/author.jpg" alt="Foto de perfil de macmanzanero" width="12%" /></a>
</div>